httplib2==0.20.4
idna==3.3
importlib-metadata==4.12.0
Jinja2==3.1.2
jsonschema==4.15.0
MarkupSafe==2.1.1
msgpack==1.0.4
numpy==1.23.2
packaging==21.3
pandas==1.4.4
Pillow==9.2.0
pipreqs==0.4.11
proto-plus==1.22.1
protobuf==3.20.1
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydeck==0.8.0b2
Pygments==2.13.0
Pympler==1.0.1
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
requests==2.28.1
rich==12.5.1
rsa==4.9
semver==2.13.0
six==1.16.0
smmap==5.0.0
streamlit==1.14.0
toml==0.10.2
toolz==0.12.0
tornado==6.2
typing_extensions==4.3.0
tzdata==2022.2
tzlocal==4.2
uritemplate==4.1.1
urllib3==1.26.12
validators==0.20.0
watchdog==2.1.9
yarg==0.1.9
zipp==3.8.1
